$primary-color: #edeef0;
$secondary-color: #A0522D;
$logo-color: #DEB887;
$card-color: #FFE4B5;
$font-primary: #000000;
$font-secondary: #fff;
$btn-primary-color: #0077ff;
$btn-success-color: #4bb34b;
$link-hover-color: #9299df;